<form class="project-add" [formGroup]="formGroup">
  <h2>Ajout d'un nouveau projet</h2>

  <mat-form-field>
    <input matInput placeholder="Nom du projet:" formControlName="projectName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Version du projet:" formControlName="projectVersion">
  </mat-form-field>

  <footer class="footer-buttons">
    <button mat-raised-button color="primary" [disabled]="formGroup.valid === false"
            (click)="validateNewProject()">Valider</button>
  </footer>
</form>
