@import '~styles/media-queries';

:host {
  .home-page {
    display: flex;
    flex-flow: row wrap;

    div {
      flex: 1 0 auto;
      padding: 1rem;
    }

    mat-accordion .mat-expansion-panel-header-title,
    mat-accordion .mat-expansion-panel-header-description {
      flex-basis: 0;
    }

    mat-accordion .mat-expansion-panel-header-description {
      justify-content: right;
      align-items: right;
    }
  }
}
